<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>none_api_comment</key><dict><key>AuthScope</key><string>none</string><key>NeedsAuth</key><false/><key>apiURL</key><string>api/comment</string></dict>
    <key>none_api_friend</key><dict><key>AuthScope</key><string>none</string><key>NeedsAuth</key><false/><key>apiURL</key><string>api/friend</string></dict>
    <key>none_api_needs_captcha</key><dict><key>AuthScope</key><string>none</string><key>NeedsAuth</key><false/><key>apiURL</key><string>api/needs_captcha</string></dict>
    <key>none_api_unfriend</key><dict><key>AuthScope</key><string>none</string><key>NeedsAuth</key><false/><key>apiURL</key><string>api/unfriend</string></dict>
    <key>none_api_v1_scopes</key><dict><key>AuthScope</key><string>none</string><key>NeedsAuth</key><false/><key>apiURL</key><string>api/v1/scopes</string></dict>
    <key>account_api_v1_me_prefs</key><dict><key>AuthScope</key><string>account</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/prefs</string></dict>
    <key>creddits_api_v1_gold_gild_fullname</key><dict><key>AuthScope</key><string>creddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/gold/gild/fullname</string></dict>
    <key>creddits_api_v1_gold_give_username</key><dict><key>AuthScope</key><string>creddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/gold/give/username</string></dict>
    <key>edit_api_del</key><dict><key>AuthScope</key><string>edit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/del</string></dict>
    <key>edit_api_editusertext</key><dict><key>AuthScope</key><string>edit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/editusertext</string></dict>
    <key>edit_api_live_thread_delete_update</key><dict><key>AuthScope</key><string>edit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/delete_update</string></dict>
    <key>edit_api_live_thread_strike_update</key><dict><key>AuthScope</key><string>edit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/strike_update</string></dict>
    <key>edit_api_sendreplies</key><dict><key>AuthScope</key><string>edit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/sendreplies</string></dict>
    <key>flair_api_flairselector</key><dict><key>AuthScope</key><string>flair</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/flairselector</string></dict>
    <key>flair_api_selectflair</key><dict><key>AuthScope</key><string>flair</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/selectflair</string></dict>
    <key>flair_api_setflairenabled</key><dict><key>AuthScope</key><string>flair</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/setflairenabled</string></dict>
    <key>history_user_username_comments</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/comments</string></dict>
    <key>history_user_username_downvoted</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/downvoted</string></dict>
    <key>history_user_username_gilded</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/gilded</string></dict>
    <key>history_user_username_hidden</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/hidden</string></dict>
    <key>history_user_username_overview</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/overview</string></dict>
    <key>history_user_username_saved</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/saved</string></dict>
    <key>history_user_username_submitted</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/submitted</string></dict>
    <key>history_user_username_upvoted</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/upvoted</string></dict>
    <key>history_user_username_where</key><dict><key>AuthScope</key><string>history</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/where</string></dict>
    <key>identity_api_v1_me</key><dict><key>AuthScope</key><string>identity</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me</string></dict>
    <key>identity_api_v1_me_prefs</key><dict><key>AuthScope</key><string>identity</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/prefs</string></dict>
    <key>identity_api_v1_me_trophies</key><dict><key>AuthScope</key><string>identity</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/trophies</string></dict>
    <key>livemanage_api_live_thread_accept_contributor_invite</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/accept_contributor_invite</string></dict>
    <key>livemanage_api_live_thread_close_thread</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/close_thread</string></dict>
    <key>livemanage_api_live_thread_edit</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/edit</string></dict>
    <key>livemanage_api_live_thread_invite_contributor</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/invite_contributor</string></dict>
    <key>livemanage_api_live_thread_leave_contributor</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/leave_contributor</string></dict>
    <key>livemanage_api_live_thread_rm_contributor</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/rm_contributor</string></dict>
    <key>livemanage_api_live_thread_rm_contributor_invite</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/rm_contributor_invite</string></dict>
    <key>livemanage_api_live_thread_set_contributor_permissions</key><dict><key>AuthScope</key><string>livemanage</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/set_contributor_permissions</string></dict>
    <key>mysubreddits_api_v1_me_friends_username</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/friends/username</string></dict>
    <key>mysubreddits_api_v1_me_karma</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/karma</string></dict>
    <key>mysubreddits_subreddits_mine_contributor</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/mine/contributor</string></dict>
    <key>mysubreddits_subreddits_mine_moderator</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/mine/moderator</string></dict>
    <key>mysubreddits_subreddits_mine_subscriber</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/mine/subscriber</string></dict>
    <key>mysubreddits_subreddits_mine_where</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/mine/where</string></dict>
    <key>mysubreddits_api_block</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/block</string></dict>
    <key>mysubreddits_api_compose</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/compose</string></dict>
    <key>mysubreddits_api_del_msg</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/del_msg</string></dict>
    <key>mysubreddits_api_read_all_messages</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/read_all_messages</string></dict>
    <key>mysubreddits_api_read_message</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/read_message</string></dict>
    <key>mysubreddits_api_unblock_subreddit</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/unblock_subreddit</string></dict>
    <key>mysubreddits_api_unread_message</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/unread_message</string></dict>
    <key>mysubreddits_message_inbox</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>message/inbox</string></dict>
    <key>mysubreddits_message_sent</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>message/sent</string></dict>
    <key>mysubreddits_message_unread</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>message/unread</string></dict>
    <key>mysubreddits_message_where</key><dict><key>AuthScope</key><string>mysubreddits</string><key>NeedsAuth</key><true/><key>apiURL</key><string>message/where</string></dict>
    <key>read_about_banned</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/banned</string></dict>
    <key>read_about_contributors</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/contributors</string></dict>
    <key>read_about_edited</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/edited</string></dict>
    <key>read_about_moderators</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/moderators</string></dict>
    <key>read_about_modqueue</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/modqueue</string></dict>
    <key>read_about_muted</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/muted</string></dict>
    <key>read_about_reports</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/reports</string></dict>
    <key>read_about_spam</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/spam</string></dict>
    <key>read_about_unmoderated</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/unmoderated</string></dict>
    <key>read_about_wikibanned</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/wikibanned</string></dict>
    <key>read_about_wikicontributors</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/wikicontributors</string></dict>
    <key>read_about_location</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/location</string></dict>
    <key>read_about_where</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>about/where</string></dict>
    <key>read_api_filter_filterpath</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/filter/filterpath</string></dict>
    <key>read_api_filter_filterpath_r_srname</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/filter/filterpath/r/srname</string></dict>
    <key>read_api_info</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/info</string></dict>
    <key>read_api_live_happening_now</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/happening_now</string></dict>
    <key>read_api_morechildren</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/morechildren</string></dict>
    <key>read_api_multi_mine</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/mine</string></dict>
    <key>read_api_multi_user_username</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/user/username</string></dict>
    <key>read_api_multi_multipath</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath</string></dict>
    <key>read_api_multi_multipath_description</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath/description</string></dict>
    <key>read_api_multi_multipath_description</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath/description</string></dict>
    <key>read_api_multi_multipath_r_srname</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath/r/srname</string></dict>
    <key>read_api_recommend_sr_srnames</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/recommend/sr/srnames</string></dict>
    <key>read_api_search_reddit_names</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/search_reddit_names</string></dict>
    <key>read_api_subreddits_by_topic</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/subreddits_by_topic</string></dict>
    <key>read_api_v1_me_blocked</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/blocked</string></dict>
    <key>read_api_v1_me_friends</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/friends</string></dict>
    <key>read_api_v1_user_username_trophies</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/user/username/trophies</string></dict>
    <key>read_by_id_names</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>by_id/names</string></dict>
    <key>read_comments_article</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>comments/article</string></dict>
    <key>read_controversial</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>controversial</string></dict>
    <key>read_duplicates_article</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>duplicates/article</string></dict>
    <key>read_hot</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>hot</string></dict>
    <key>read_live_thread</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>live/thread</string></dict>
    <key>read_live_thread_about</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>live/thread/about</string></dict>
    <key>read_live_thread_contributors</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>live/thread/contributors</string></dict>
    <key>read_live_thread_discussions</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>live/thread/discussions</string></dict>
    <key>read_new</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>new</string></dict>
    <key>read_prefs_blocked</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>prefs/blocked</string></dict>
    <key>read_prefs_friends</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>prefs/friends</string></dict>
    <key>read_prefs_where</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>prefs/where</string></dict>
    <key>read_r_subreddit_about</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>r/subreddit/about</string></dict>
    <key>read_random</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>random</string></dict>
    <key>read_rules</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>rules</string></dict>
    <key>read_search</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>search</string></dict>
    <key>read_sidebar</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>sidebar</string></dict>
    <key>read_sticky</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>sticky</string></dict>
    <key>read_subreddits_default</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/default</string></dict>
    <key>read_subreddits_gold</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/gold</string></dict>
    <key>read_subreddits_new</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/new</string></dict>
    <key>read_subreddits_popular</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/popular</string></dict>
    <key>read_subreddits_search</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/search</string></dict>
    <key>read_subreddits_where</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>subreddits/where</string></dict>
    <key>read_top</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>top</string></dict>
    <key>read_user_username_about</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>user/username/about</string></dict>
    <key>read_sort</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>sort</string></dict>
    <key>read_api_hide</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/hide</string></dict>
    <key>read_api_live_thread_report</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/report</string></dict>
    <key>read_api_report</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/report</string></dict>
    <key>read_api_unhide</key><dict><key>AuthScope</key><string>read</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/unhide</string></dict>
    <key>save_api_save</key><dict><key>AuthScope</key><string>save</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/save</string></dict>
    <key>save_api_saved_categories</key><dict><key>AuthScope</key><string>save</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/saved_categories</string></dict>
    <key>save_api_store_visits</key><dict><key>AuthScope</key><string>save</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/store_visits</string></dict>
    <key>save_api_unsave</key><dict><key>AuthScope</key><string>save</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/unsave</string></dict>
    <key>submit_api_live_create</key><dict><key>AuthScope</key><string>submit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/create</string></dict>
    <key>submit_api_live_thread_update</key><dict><key>AuthScope</key><string>submit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/live/thread/update</string></dict>
    <key>submit_api_submit</key><dict><key>AuthScope</key><string>submit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/submit</string></dict>
    <key>submit_api_submit_text</key><dict><key>AuthScope</key><string>submit</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/submit_text</string></dict>
    <key>subscribe_api_filter_filterpath</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/filter/filterpath</string></dict>
    <key>subscribe_api_filter_filterpath</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/filter/filterpath</string></dict>
    <key>subscribe_api_filter_filterpath</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/filter/filterpath</string></dict>
    <key>subscribe_api_filter_filterpath_r_srname</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/filter/filterpath/r/srname</string></dict>
    <key>subscribe_api_filter_filterpath_r_srname</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/filter/filterpath/r/srname</string></dict>
    <key>subscribe_api_multi_copy</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/copy</string></dict>
    <key>subscribe_api_multi_rename</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/rename</string></dict>
    <key>subscribe_api_multi_multipath</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath</string></dict>
    <key>subscribe_api_multi_multipath</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath</string></dict>
    <key>subscribe_api_multi_multipath</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath</string></dict>
    <key>subscribe_api_multi_multipath_r_srname</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath/r/srname</string></dict>
    <key>subscribe_api_multi_multipath_r_srname</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/multi/multipath/r/srname</string></dict>
    <key>subscribe_api_subscribe</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/subscribe</string></dict>
    <key>subscribe_api_v1_me_friends_username</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/friends/username</string></dict>
    <key>subscribe_api_v1_me_friends_username</key><dict><key>AuthScope</key><string>subscribe</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/v1/me/friends/username</string></dict>
    <key>vote_api_vote</key><dict><key>AuthScope</key><string>vote</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/vote</string></dict>
    <key>vote_api_wiki_edit</key><dict><key>AuthScope</key><string>vote</string><key>NeedsAuth</key><true/><key>apiURL</key><string>api/wiki/edit</string></dict>
    <key>wikiread_wiki_discussions_page</key><dict><key>AuthScope</key><string>wikiread</string><key>NeedsAuth</key><true/><key>apiURL</key><string>wiki/discussions/page</string></dict>
    <key>wikiread_wiki_pages</key><dict><key>AuthScope</key><string>wikiread</string><key>NeedsAuth</key><true/><key>apiURL</key><string>wiki/pages</string></dict>
    <key>wikiread_wiki_revisions</key><dict><key>AuthScope</key><string>wikiread</string><key>NeedsAuth</key><true/><key>apiURL</key><string>wiki/revisions</string></dict>
    <key>wikiread_wiki_revisions_page</key><dict><key>AuthScope</key><string>wikiread</string><key>NeedsAuth</key><true/><key>apiURL</key><string>wiki/revisions/page</string></dict>
    <key>wikiread_wiki_page</key><dict><key>AuthScope</key><string>wikiread</string><key>NeedsAuth</key><true/><key>apiURL</key><string>wiki/page</string></dict>

</dict>
</plist>
